@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

* {
    font-family: 'Fredoka One', cursive;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #b3e5fc;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #b3e5fc;
  }
  
ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: background-color 0.3s;
}
  
li a:hover {
    background-color: #00f;
  }
  
section {
    width: 80%;
    margin: 20px;
}
  
h1 {
    color: #ff6f00;
    text-shadow: 4px 4px 0px #ffd54f;
    font-size: 4em;
}

.presentation p {
    color: #fff;
    background-color: #f06292;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 4px 4px 0px #ec407a;
    font-size: 1.5em;
}

h2 {
    color: #fff;
    background-color: #4caf50;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 0px #388e3c;
    font-size: 2.5em;
}

#decouvrir img {
    border: 10px solid #fff;
    border-radius: 50%;
    box-shadow: 4px 4px 0px #bdbdbd;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 0px #bdbdbd;
}

label {
    color: #ff6f00;
    font-size: 1.2em;
    padding: 5px;
    margin: 5px;
    display: block;
}

input, select {
    border: 2px solid #ff6f00;
    border-radius: 10px;
    padding: 5px;
    font-size: 1.2em; 
    padding: 5px;
    margin: 5px;
    text-transform: uppercase;
}

button {
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 4px 4px 0px #388e3c;
    font-size: 1.5em;
    cursor: pointer;
}

th {
    background: linear-gradient(to bottom, #34a2c7, #00008B); 
    color: white; 
    width: 4vh;
    height: 4vh;
    padding: 10px; 
}
footer {
    color: #fff;
    background-color: #f06292;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 4px 4px 0px #ec407a;
    font-size: 1.5em;
    text-align: center;
}
